@model ChangePassword
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutLoginSignup.cshtml";
}

<form method="post">
	<div class="border p-3 mt-5" style="margin-left:200px; margin-right:200px">
		<div class="row pb-3">
			<h2>
				Change Password
			</h2>
			<hr />
		</div>
		<h6 class="text-success text-center">
			@TempData["SuccessMsg"]
			@TempData["ErrorMsg"]
		</h6>
		<div class="row m-2 mb-3">
			<input asp-for="UserId" type="hidden" value="@ViewBag.Userid" class="form-control" />
			<input asp-for="UserName" type="hidden" value="@ViewBag.UserName" class="form-control" />
			<input asp-for="UserEmail" type="hidden" value="@ViewBag.UserEmail" class="form-control" />

			<label asp-for="OldPassword"></label>
			<input id="OldPassword" asp-for="OldPassword" type="password" class="form-control" />
			<i id="OpenOldPassword" class="bi bi-eye-fill" onclick="ChangeType1('OldPassword')" style="margin-top: -35px; margin-left: 800px; cursor: pointer;"></i>
			<i id="CloseOldPassword" class="bi bi-eye-slash-fill" onclick="ChangeType2('OldPassword')" style="margin-left: 800px; margin-top: -35px; cursor: pointer; display:none;"></i>
			<span asp-validation-for="OldPassword" class="text-danger"></span>
		</div>
		<div class="row m-2 mb-3">
			<label asp-for="NewPassword"></label>
			<input id="NewPassword" asp-for="NewPassword" type="password" class="form-control" />
			<i id="OpenNewPassword" class="bi bi-eye-fill" onclick="ChangeType1('NewPassword')" style="margin-top: -35px; margin-left: 800px; cursor: pointer;"></i>
			<i id="CloseNewPassword" class="bi bi-eye-slash-fill" onclick="ChangeType2('NewPassword')" style="margin-left: 800px; margin-top: -35px; cursor: pointer; display:none;"></i>
			<span asp-validation-for="NewPassword" class="text-danger"></span>
		</div>
		<div class="row m-2 mb-3">
			<label asp-for="ConfirmPassword"></label>
			<input id="Confirm" asp-for="ConfirmPassword" type="password" class="form-control" />
			<i id="OpenConfirm" class="bi bi-eye-fill" onclick="ChangeType1('Confirm')" style="margin-top: -35px; margin-left: 800px; cursor: pointer;"></i>
			<i id="CloseConfirm" class="bi bi-eye-slash-fill" onclick="ChangeType2('Confirm')" style="margin-left: 800px; margin-top: -35px; cursor: pointer; display:none;"></i>
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>

		<button class="btn btn-primary" type="submit">
			Change Password
		</button>
	</div>

</form>

<script type="text/javascript">
	function ChangeType1(InputId) {
		document.getElementById("Open" + InputId).style.display = "none";
		document.getElementById("Close" + InputId).style.display = "block";
		document.getElementById(InputId).type = "text";
	}

	function ChangeType2(InputId) {
		document.getElementById("Open" + InputId).style.display = "block";
		document.getElementById("Close" + InputId).style.display = "none";
		document.getElementById(InputId).type = "password";
	}
</script>


